/** bootstrap overwrites for pixel admin */
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555555;
}

form label .required:after {
    color: #cc0000;
    content: "*";
    margin-left: 3px;
}

/** custom css */
.list-group-item-purple {
    background: rgba(127, 63, 191, 0.3);
}

.status-badge {
    float: right;
}

.panel-purple {
    border-color: #9e4ec0 !important;
}

.panel-purple > .panel-heading {
    background: rgba(127, 63, 191, 1);
    color: #fff;
}

.theme-silver .table > thead {
    font-size: 14px;
}

.theme-silver .table > tbody {
    font-size: 13px;
}