<page-header-dir path="vm.path" icon="fa-files-o"></page-header-dir>
<div class="row">
    <div class="col-md-12">
        <div class="table-light">
            <div class="table-header clearfix">
                <div class="table-caption">
                    <i class="panel-title-icon fa fa-files-o"></i>
                    Content
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Content type</th>
                    <th>URL key</th>
                    <th>Title</th>
                    <th>Publish Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>News Item</td>
                    <td><a href="#">news-item</a></td>
                    <td>Title</td>
                    <td>2/6/15 4:00 PM</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-xs">Edit</a>
                        <!-- change this to a simple toggle later -->
                        <!--a href="javascript:void(0);" class="btn btn-primary btn-xs enable hide" data-id="1" data-link="#">Enable</a-->
                        <a href="javascript:void(0);" class="btn btn-primary btn-xs disable " data-id="2" data-link="#">Disable</a>
                        <a href="#" class="btn btn-primary btn-xs" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Login Screen</td>
                    <td><a href="#">login-screen</a></td>
                    <td>Title</td>
                    <td>2/6/15 4:00 PM</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-xs">Edit</a>
                        <!-- change this to a simple toggle later -->
                        <!--a href="javascript:void(0);" class="btn btn-primary btn-xs enable hide" data-id="1" data-link="#">Enable</a-->
                        <a href="javascript:void(0);" class="btn btn-primary btn-xs disable " data-id="2" data-link="#">Disable</a>
                        <a href="#" class="btn btn-primary btn-xs" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Logo</td>
                    <td><a href="#">logo</a></td>
                    <td>Title</td>
                    <td>2/6/15 4:00 PM</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-xs">Edit</a>
                        <!-- change this to a simple toggle later -->
                        <!--a href="javascript:void(0);" class="btn btn-primary btn-xs enable hide" data-id="1" data-link="#">Enable</a-->
                        <a href="javascript:void(0);" class="btn btn-primary btn-xs disable " data-id="2" data-link="#">Disable</a>
                        <a href="#" class="btn btn-primary btn-xs" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
